header .logo h1 {
  font-size: 25px;
}
header .search {
  padding: 15px;
}
#wrapper .content .slider img {
  width: 100%;
  height: auto;
}
#wrapper .content .box-index h2 {
  text-transform: uppercase;
  font-size: 23px;
  color: #444;
  border-bottom: 3px solid #EEE;
  position: relative;
  margin-bottom: 20px;
  padding: 5px 0;
}
#wrapper .content .box-index h2::before {
  content: "";
  display: block;
  width: 70px;
  background: #2673BB none repeat scroll 0% 0%;
  height: 3px;
  position: absolute;
  bottom: -2px;
  left: 0px;
}
#wrapper .content .box-index .item {
  margin-bottom: 20px;
}
#wrapper .content .box-index .item h3 {
  font-size: 16px;
}
#wrapper .sidebar .sidebar-item {
  margin-bottom: 30px;
}
#wrapper .sidebar .sidebar-item h4.widget-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #444;
  border-bottom: 3px solid #EEE;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 5px 0;
}
#wrapper .sidebar .sidebar-item h4.widget-title::before {
  content: "";
  display: block;
  width: 70px;
  background: #2673BB none repeat scroll 0% 0%;
  height: 3px;
  position: absolute;
  bottom: -2px;
  left: 0px;
}
#wrapper .sidebar .sidebar-item .textwidget img {
  width: 100%;
  height: auto;
}
h1.single-title {
  text-transform: uppercase;
  font-size: 25px;
}
.single-content {
  text-align: justify;
  border: 1px solid #dcdcdc;
  box-shadow: 2px 2px 2px #dcdcdc;
  padding: 10px;
}
#menu ul {
  background: #8AD385;
  width: 250px;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
#menu li {
  width: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 1em;
}
#menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
}
#menu li:hover {
  background: #CDE2CD;
}
body {
  font-family: sans-serif;
  font-size: 15px;
}

@media all and (min-width: 320px) {<span style="line-height: 1.5;">}</span>

#menu ul {
  background: #8AD385;
  width: 250px;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
#menu li {
  width: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 1em;
}
#menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
}
#menu li:hover {
  background: #CDE2CD;
}
